.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    position: fixed;
    background-color: aliceblue;
    width: 100%;
   

}

.header__img-pic {
    width: 20px;
    height: 20px;
}

.header__li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 75%;
    align-items: center;
    font-family: 'Golos Text', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
color: gray;
    
}
   
.header__img {
    display: flex;
    align-items: center;
}
   
* {
    margin: 0;
    padding: 0;
}

.header__image {
    border: 1px solid gray;
    border-radius: 50%;
    width: 80px;
    height: 80px;
   position: fixed;
    bottom: 30px;
right: 30px;
}

.header__image-2 {
    width: 60px;
    height: 60px;
}

.header__li-fire {
    display: flex;
    justify-content: space-between;
}
